# ColdGuard local deployment environment variables

# Database configuration
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# RabbitMQ configuration
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=

# Grafana configuration
GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=
